.activity-all-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 32rem;
  /* height: 25rem; */
  background: var(--black);
  /* box-shadow: 0 0 1px var(--yellow); */
}

.summary-container {
  width: 100%;
  padding: 10px 2rem;
  background: #181818;
}

.activity-icon {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.total-duration-span {
  padding-left: 1rem;
}

.acitivity-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
