.profile-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  height: 25rem;
  background: var(--black);
  box-shadow: 0 0 1px var(--yellow);
}
/* .edit-avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.avatar-photo {
  width: 7rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--white);
  margin-top: 2rem;
}

.profile-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsla(36, 96%, 71%, 0.4);
}

.profile-info h {
  width: 80%;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0.5rem;
}
span:last-child {
  margin-left: 1rem;
}

.profile-details {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-top: 1.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
}
.box-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.box p {
  font-size: 1.1rem;
}
.weekly-goal {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.goal-text {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
.progress-bar {
  width: 90%;
}

/* move to ActivityAllSummary */
.activity-all-summary {
  margin-top: 1rem;
}

.motivation-box-container {
  width: 100%;
  margin-top: 3rem;
}
